<form action="/message/add" method="post">
  <div>Автор:</div>
  <input type="text" name="author"/>
  <div>Сообщение:</div>
  <textarea name="content"></textarea>
  <input type="submit" value="Отправить"/>
</form>