МОБУ СОШ №24, одно из старейших учебных заведений г. Таганрога,
приняла своих первых учеников в 1936 году.<br/><br/>
На сегодняшний день в школе 39 классов, в которых обучается 1003
учащихся. В своей работе педагогический коллектив стремится создать
наиболее благоприятные условия для интеллектуального развития
обучающихся и обеспечивает высокий уровень образования.<br/><br/>

<img src="/newsch.jpg"/>

Муниципальное общеобразовательное бюджетное учреждение средняя
общеобразовательная школа №24.<br/><br/>
<b>Адрес:</b> Ростовская область, г. Таганрог, ул. Дзержинского, 149<br/><br/>
<b>Телефон:</b> 8(8634)624-541<br/><br/>
<b>E-mail:</b> sch24@tagobr.ru<br/>